body { background: #130859; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 44px; display: flex; }
.block-config-0 { color: #c04f62; font-size: 19px; margin-bottom: 5px; }
.block-token-1 { color: #1a2dd6; font-size: 16px; margin-bottom: 5px; }
.block-sms-2 { color: #360eab; font-size: 13px; margin-bottom: 5px; }
.block-validator-3 { color: #8f7771; font-size: 19px; margin-bottom: 5px; }
.block-notify-4 { color: #e48d4; font-size: 18px; margin-bottom: 5px; }
.block-invoice-5 { color: #71f1f0; font-size: 16px; margin-bottom: 5px; }